---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto px-4">
    <p class="w-full text-4xl sm:text-5xl md:text-6xl text-center font-bold">
      Milzen Kitchen Cabinets
    </p>

    <p class="text-center text-2xl sm:text-3xl mt-4">
      About Milzen:<br />
    </p>

    <p class="text-center text-lg sm:text-xl md:text-2xl mt-2">
      Milzen Cabinetry is hand-crafted from premium select hardwoods. Whether
      for a kitchen or bath remodel or new home construction project, Milzen
      Cabinetry produces a quality well-crafted cabinet.
    </p>

    <div class="p-1 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 mt-6">
      <a href="/CountertopsDetails">
        <img
          src="/M25.jpg"
          alt="M25 Cabinet"          
          class="aspect-3/2 w-full rounded-md"
          view-transition-name="slide"
        />
      </a>

      <img class="aspect-3/2 w-full rounded-md" src="/M25.jpg" />
      <img class="aspect-3/2 w-full rounded-md" src="/M25.jpg" />
      <img class="aspect-3/2 w-full rounded-md" src="/M25.jpg" />
      <img class="aspect-3/2 w-full rounded-md" src="/M25.jpg" />
      <img class="aspect-3/2 w-full rounded-md" src="/M25.jpg" />
      <img class="aspect-3/2 w-full rounded-md" src="/M25.jpg" />
      <img class="aspect-3/2 w-full rounded-md" src="/M25.jpg" />
      <img class="aspect-3/2 w-full rounded-md" src="/M25.jpg" />
      <img class="aspect-3/2 w-full rounded-md" src="/M25.jpg" />
      <img class="aspect-3/2 w-full rounded-md" src="/M25.jpg" />
      <img class="aspect-3/2 w-full rounded-md" src="/M25.jpg" />
    </div>
  </div>
</Layout>


