---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <a href="./Countertops">
        <img
            src="/M25.jpg"
            alt="M25 Cabinet"
            class="aspect-3/2 w-full rounded-md"
            view-transition-name="hero"
        />
    </a>
</Layout>
